@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'NanumSquareRound';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'NanumSquare';
    font-weight: 900;
}
body {
    background-color: #ffffff !important;
    font-size:10pt;
    /*width:455px;*/
    /*overflow:auto;*/
}
footer {
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
}
th.text-remove{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:break-word;
    word-break:break-all;
    padding-right: 10px;
}
.w3-teal {
    background-color: #313236 !important;
}
.navbar {
    background-color: #313236;
    border-radius: 2px;
    max-width: 800px;
}
.navbar a {
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}
.navbar a:hover {
    color: rgba(255, 208, 115, 0.88);
}

#dt {
    font:80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    color:#333;
    background-color:#fff;
    /*width:85%;*/
    margin:0;
    margin-top:10px;
    padding:0;
}
.dataTables_length {
    width:40%;
    float:left;
}
.dataTables_filter {
    width:50%;
    float:right;
    text-align:right;
}
.dataTables_paginate {
    width:50px;
    float:right;
    text-align:right;
}
table{
    position:relative;
}
table.display {
    clear:both;
    width:100%;
    margin:0 auto;
}
table.display thead th {
    border-bottom:1px solid #000;
    font-weight:700;
    cursor:hand;
    padding:3px 18px 3px 10px;
}
div.multiple {
    float:left;
    background-color:#FFF;
    width:100%;
    height:48px;
    border:1px solid #ccc;
    cursor:pointer;
    font-size:8pt;
    overflow:auto;
    z-index:0;
    margin:2px;
}
table.display td {
    padding:3px 10px;
}

tr.odd {
    background-color: #ffffff;
}
tr.even {
    background-color: #ffffff;
}

td.group {
    background-color:#d1cfd0;
    border-bottom:2px solid #A19B9E;
    border-top:2px solid #A19B9E;
}
td.details {
    background-color:#d1cfd0;
    border:2px solid #A19B9E;
}
.cbtable_alt_pagination div.dataTables_info {
    width:40%;
}
.paging_full_numbers {
    width:400px;
    height:22px;
    line-height:22px;
}
.paging_full_numbers .paginate_button,.paging_full_numbers .paginate_current {
    border:1px solid #AABCFE;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    cursor:pointer;
    margin:0 3px;
    padding:2px 5px;

}
.paging_full_numbers .paginate_button {
    background-color:#ddd;
}
.paging_full_numbers .paginate_button.current {
    background-color:#F2F3FF;
    cursor:hand;
}
.paging_full_numbers .paginate_button:hover {
    background-color:#ccc;
    cursor:hand;
}
.paging_full_numbers .paginate_current {
    background-color:#99B3FF;
}
table.display tr.even.row_selected td {
    background-color:#B0BED9;
}
table.display tr.odd.row_selected td {
    background-color:#9FAFD1;
}
tr.odd td.sorting_1 {
    background-color:#D3D6FF;
}
tr.odd td.sorting_2 {
    background-color:#DADCFF;
}
tr.odd td.sorting_3 {
    background-color:#E0E2FF;
}
tr.even td.sorting_1 {
    background-color:#EAEBFF;
}
tr.even td.sorting_2 {
    background-color:#F2F3FF;
}
tr.even td.sorting_3 {
    background-color:#F9F9FF;
}
.ex_highlight_row #cbtable tr.even:hover td.sorting_1 {
    background-color:#DDFF75;
}
.ex_highlight_row #cbtable tr.even:hover td.sorting_2 {
    background-color:#E7FF9E;
}
.ex_highlight_row #cbtable tr.even:hover td.sorting_3 {
    background-color:#E2FF89;
}
.ex_highlight_row #cbtable tr.odd:hover td.sorting_1 {
    background-color:#D6FF5C;
}
.ex_highlight_row #cbtable tr.odd:hover td.sorting_2 {
    background-color:#E0FF84;
}
.ex_highlight_row #cbtable tr.odd:hover td.sorting_3 {
    background-color:#DBFF70;
}
table.KeyTable td {
    border:3px solid transparent;
}
table.KeyTable td.focus {
    border:3px solid #36F;
}
div.box {
    height:100px;
    overflow:auto;
    border:1px solid #8080FF;
    background-color:#E5E5FF;
    padding:10px;
}
table.display td.center,.dataTables_empty {
    text-align:center;
}
.dataTables_scroll,.clear {
    clear:both;
}
.ex_highlight #cbtable tbody tr.even:hover,#cbtable tbody tr.even td.highlighted,.ex_highlight_row #cbtable tr.even:hover {
    background-color:#ECFFB3;
}
.ex_highlight #cbtable tbody tr.odd:hover,#cbtable tbody tr.odd td.highlighted,.ex_highlight_row #cbtable tr.odd:hover {
    background-color:#039;
}
.topbar {
    background: #1056BD;
    border-bottom: solid 2px #EEE;
    padding: 3px 0;
    text-align: center;
    color: white;
}
.delete {
    cursor:pointer;
    float:right;
    text-align:right;
    padding-right: 5px;
}