#dt {
    font:80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    color:#333;
    background-color:#fff;
    width:85%;
    margin:0;
    margin-top:10px;
    padding:0;
}
.dataTables_wrapper {
    position:relative;
    min-height:302px;
    clear:both;
    _height:302px;
    zoom:1;
}
.dataTables_processing {
    position:absolute;
    top:50%;
    left:50%;
    width:250px;
    height:30px;
    margin-left:-125px;
    margin-top:-15px;
    border:1px solid #ddd;
    text-align:center;
    color:#999;
    font-size:14px;
    background-color:#FFF;
    padding:14px 0 2px;
}
.dataTables_length {
    width:40%;
    float:left;
}
.dataTables_filter {
    width:50%;
    float:right;
    text-align:right;
}
.dataTables_info {
    width:60%;
    float:left;
}
.dataTables_paginate {
    width:50px;
    float:right;
    text-align:right;
}
table.display {
    clear:both;
    width:100%;
    margin:0 auto;
}
table.display thead th {
    border-bottom:1px solid #000;
    font-weight:700;
    cursor:hand;
    padding:3px 18px 3px 10px;
}
body {
    font-family:verdana;
    color:#1056BD;
    font-size:9pt;
    width:455px;
    overflow:auto;
}
div.multiple {
    float:left;
    background-color:#FFF;
    width:300px;
    height:48px;
    border:1px solid #ccc;
    cursor:pointer;
    font-size:8pt;
    overflow:auto;
    z-index:0;
    margin:2px;
}
table.display tfoot th {
    border-top:1px solid #000;
    font-weight:700;
    padding:3px 18px 3px 10px;
}
table.display tr.heading2 td {
    border-bottom:1px solid #aaa;
}
table.display td {
    padding:3px 10px;
}
tr.odd {
    background-color:#DCE4FF;
}
tr.even {
    background-color:#D0DAFD;
}
.dataTables_scrollBody {
    margin-top:-1px;
}
.top,.bottom {
    background-color:#F5F5F5;
    border:1px solid #CCC;
    padding:15px;
}
.top .dataTables_info {
    float:none;
}
tfoot input {
    width:100%; color:#444; margin:.5em 0;
}
tfoot input.search_init {
    color:#999;
}
td.group {
    background-color:#d1cfd0;
    border-bottom:2px solid #A19B9E;
    border-top:2px solid #A19B9E;
}
td.details {
    background-color:#d1cfd0;
    border:2px solid #A19B9E;
}
.cbtable_alt_pagination div.dataTables_info {
    width:40%;
}
.paging_full_numbers {
    width:400px;
    height:22px;
    line-height:22px;
}
.paging_full_numbers .paginate_button,.paging_full_numbers .paginate_current {
    border:1px solid #AABCFE;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    cursor:hand;
    margin:0 3px;
    padding:2px 5px;
}
.paging_full_numbers .paginate_button {
    background-color:#ddd;
}
.paging_full_numbers .paginate_button:hover {
    background-color:#ccc;
}
.paging_full_numbers .paginate_current {
    background-color:#99B3FF;
}
table.display tr.even.row_selected td {
    background-color:#B0BED9;
}
table.display tr.odd.row_selected td {
    background-color:#9FAFD1;
}
tr.odd td.sorting_1 {
    background-color:#D3D6FF;
}
tr.odd td.sorting_2 {
    background-color:#DADCFF;
}
tr.odd td.sorting_3 {
    background-color:#E0E2FF;
}
tr.even td.sorting_1 {
    background-color:#EAEBFF;
}
tr.even td.sorting_2 {
    background-color:#F2F3FF;
}
tr.even td.sorting_3 {
    background-color:#F9F9FF;
}
.ex_highlight_row #cbtable tr.even:hover td.sorting_1 {
    background-color:#DDFF75;
}
.ex_highlight_row #cbtable tr.even:hover td.sorting_2 {
    background-color:#E7FF9E;
}
.ex_highlight_row #cbtable tr.even:hover td.sorting_3 {
    background-color:#E2FF89;
}
.ex_highlight_row #cbtable tr.odd:hover td.sorting_1 {
    background-color:#D6FF5C;
}
.ex_highlight_row #cbtable tr.odd:hover td.sorting_2 {
    background-color:#E0FF84;
}
.ex_highlight_row #cbtable tr.odd:hover td.sorting_3 {
    background-color:#DBFF70;
}
table.KeyTable td {
    border:3px solid transparent;
}
table.KeyTable td.focus {
    border:3px solid #36F;
}
div.box {
    height:100px;
    overflow:auto;
    border:1px solid #8080FF;
    background-color:#E5E5FF;
    padding:10px;
}
table.display td.center,.dataTables_empty {
    text-align:center;
}
.dataTables_scroll,.clear {
    clear:both;
}
.ex_highlight #cbtable tbody tr.even:hover,#cbtable tbody tr.even td.highlighted,.ex_highlight_row #cbtable tr.even:hover {
    background-color:#ECFFB3;
}
.ex_highlight #cbtable tbody tr.odd:hover,#cbtable tbody tr.odd td.highlighted,.ex_highlight_row #cbtable tr.odd:hover {
    background-color:#039;
}
.topbar {
    background: #1056BD;
    border-bottom: solid 2px #EEE;
    padding: 3px 0;
    text-align: center;
    color: white;
}
.delete {
    cursor:pointer;
}
h2{
    color: #1056BD;
    font-size: 24px;
    margin: 0px 0px 0px 5px;
    margin-left: 5px;
    padding: 0px 8px 2px 0px;
    text-shadow: #999 0px 1px 2px;
}